.testimonial-text {
    padding: 10px 20px 0 22px;
}
.testimonial-text p {
    text-align: justify;
    word-spacing: 0.5px;
}
.testimonials {
    height: 100%;
}

.testimonial_image {
    display: table-cell;
    float: left;
    width: 120px;
}
.testimonial_image img {
    width: 155px;
}

.description {
    background: url(../images/testi.png) no-repeat scroll left top rgba(0, 0, 0, 0);
    padding: 20px 20px 15px 40px;
    margin-top: 10px;
}
.testimonial-text{ margin-bottom: 10px; margin-top: 10px;clear: both; display: inline-block; width: 100%;box-sizing: border-box;}
.testimonial-text.even{background:#f1f1f1;}
.testimonial-list-container .tesimony-image{width: 15%;}
.testimonial-list-container .description{width: 79%;}
.testimonial-list-container .odd .tesimony-image{float: left;}
.testimonial-list-container .odd .description{float: right;}
.testimonial-list-container .even .tesimony-image{float: right;}
.testimonial-list-container .even .description{float: left;}
.testimonial-list-container .odd .client_name_date{float: right; clear: both; display: inline-block; margin-top: 10px; margin-bottom: 10px;padding-right: 22px;}
.testimonial-list-container .even .client_name_date{float: left; clear: both; display: inline-block;margin-top: 10px; margin-bottom: 10px; padding-left: 42px;}



